@bg: #202020;
@text: #FFFDE7;

body{
  background-color: @bg;
  color: @text;
}

#playview{
  border: 1px solid @text;
  width: 100%;
  height: calc(100vh - 64px);
  display: table;
  border-collapse: collapse;
  .row{
    display: table-row;
    &::before{
      content: attr(id);
      margin-left: 8px;
      font-size: 180%;
      opacity: 0.3;
      display: block; 
      position: absolute;
    }
    .cell{
      display: table-cell;
      border: 1px solid @text;
      &.on{
        border-color: @bg;
        background-color: @text;
        color: @bg;
      }
      &.note{
        border-color: @bg;
        background-color: @text;
        color: @bg;
      }
    }
  }
}

#controller{
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid @text;
  padding: 8px;
  button, div{
    float: left;
    margin: 4px;
    > #speed_value{
      font-size: 10px;
      position: relative;
      width: 100px;
      display: block;
      text-align: center;
      margin: 0;
      &::before{
        content: "Speed:"
      }
    }
    > #speed{
      width: 100px;
      height: 24px;
    }
  }
}